<%- include("metadata") %>
<html lang="en">
    <%- include("searchNavBar", {isLoggedIn : false}) %>
    <body>





    <div class="col-md-7" style="position: absolute">
        <div class="container">
            <div class="col"> <!-- TODO: Use EJS Template -->
                <% for (i = 0; i < filterHeaders.length; i++) {%>
                    <div class="col accordion w-25">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading<%= filterHeaders[i] %>">
                                <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#<%= filterHeaders[i] %>" aria-expanded="true" aria-controls="<%= filterHeaders[i] %>">
                                    <strong><%= filterHeaders[i] %></strong> <!-- TODO: Variable -->
                                </button>
                            </h2>
                            <div id="<%= filterHeaders[i] %>" class="accordion-collapse collapse show" aria-labelledby="heading<%= filterHeaders[i] %>" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <!-- TODO: Session Cookies because based on the collection search, only show the existing categories or just use node again --> <!-- TODO: Variable-->
                                    <%- filterStuff[i] %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }%>

            </div>
        </div>
    </div>

    <div class="container-fluid d-grid align-items-center text-center"
         style="grid-template-columns: 25% 75%;">

        <div class="col-md-7"></div>

        <!-- FIXME: Add Space for the right side of the page -->
        <div class="row row-cols-1">
            <% items.forEach(function(item) { %>
            <div class="col-3 row-3">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="286rem" height="286rem"
                         src="<%= item.product_img_URL[0] %>"
                         alt="<%= item.item_title %>"
                    />
                    <div class="card-body">
                        <h3 class="">
                            <%= item.item_title %>
                        </h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- TODO: For EJS template, data passing, put ejs % syntax in action-->
                                <form method="POST" action="/addCart?= "><button type="submit" class="btn btn-sm">Add to Cart</button></form>
                                <form method="GET" action="/view/item?="><button type="submit" class="btn btn-sm">View Item</button></form>
                            </div>
                            <strong class="text-body-primary">
                                CAN <%= item.item_price %>
                            </strong>
                        </div>
                    </div>
                </div>

            </div>
            <% }); %>
        </div>
    </div>
    </body>
</html>