<%- include("searchNavBar") %>
<%- include("metadata") %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Category</title>
    </head>
    <body>
        <div class="container mt-5">
            <h2>Edit Category</h2>
            <form action="/admin/updateCategory/<%= category._id %>" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= category.category_type %>" required>
                </div>
                <div class="mb-3">
                    <label for="sub_categories" class="form-label">Sub Category</label>
                    <input type="text" class="form-control" id="sub_categories" name="sub_categories" value="<%= category.sub_categories.join(", ") %>" required>
                </div>
                <button type="submit" class="btn btn-primary">Update Category</button>
                <a href="/admin/manage" class="btn btn-secondary">Cancel</a>
                <button type="button" class="btn btn-danger" onclick="deleteCategory('<%= category._id %>')">Delete</button>
            </form>
        </div>



    </body>
    <script>
        function deleteCategory(categoryID) {
            if(confirm('Are you sure you want to delete this category? This action cannot be undone.')) {
                fetch(`/admin/deleteCategory/${categoryID}`, {
                    method: 'POST'
                }).then(response => {
                    if(response.ok) {
                        window.location.href = '/admin/manage';
                    } else {
                        alert('Failed to delete the category.');
                    }
                });
            }
        }
    </script>
</html>
