<%- include("metadata") %>
<html lang="en">
    <%- include("searchNavBar") %>
    <head>
        <style>
            #myCarousel {
                background-image: url("/img/landingPage/banner/giveandshareBanner.png");
                background-position: center;
                background-size: cover;
            }

            .category-selection-button {
                width: 16vw;
                background: none;
                border: none;
                text-align: start;
            }

            .buttons-container {
                position: absolute;
                bottom: 8px;
                width: 22vw;
            }

            .view-product-btn, .add-product-btn {
                line-height: 15px;
                padding: 2px;
                font-size: 10pt;
                height: 5.5vh;
            }

            .view-product-btn {
                width: 5vw;
            }

            .add-product-btn {
                width: 7vw;
            }

            .no-border {
                border: none;
                background: none;
                margin-top: 30px;
                margin-bottom: 50px;
            }

            .product-img {
                height: 25vh;
                overflow: hidden;
            }

            .product-title-text {
                font-size: 18pt;
                font-weight: bold;
            }

            .card {
                height: 45vh;
            }

            .card-body {
                padding: 8px;
            }

            .filter-header {
                font-size: 14pt;
            }

            .accordion-body {
                font-size: 12pt;
            }

            .landing-pad-bottom {
                padding-bottom: 3vh;
            }

            .video {
                width: 854px;
                height: 480px;
            }

            .pagination-btn {
                padding-left: 1vw;
                padding-right: 1vw;
            }

            .card-img-top {
                border: solid 2px lightgray;
                max-width: 25vw;
                max-height: 30vh;
            }

            .list-group-item:hover
            {
                background-color: #84A49A;
            }

            .favouriteButton
            {
                background: none;
                border: solid 1px white;
                border-left: solid 1px #00000000;
                color: red;
                padding: 4px;
            }

            .favouriteButton:hover {
                background-color: pink;
                color: red;
                border: solid 1px red;
            }

            .col-md-4.landing-pad-bottom {
                padding-left: 0.25vw;
                padding-right: 0.25vw;
            }

            .carousel-indicators [data-bs-target] {
                opacity: 0.6;
            }

            .carousel-indicators [data-bs-target].active {
                opacity: 1;
            }

            .carousel-control-next, .carousel-control-prev {
                opacity: 0.6;
            }

            .carousel-control-next:hover, .carousel-control-prev:hover {
                opacity: 1;
            }

            @media only screen and (min-width: 576px) and (max-width: 767px) {
                .card {
                    width: 95vw;
                }

                .category-selection-button {
                    width: 60vw;
                }

                .product-img {
                    height: 30vh;
                }

                .card-img-top {
                    max-width: 35vw;
                    max-height: 35vh;
                }

                .buttons-container {
                    width: 90vw;
                }

                .view-product-btn, .add-product-btn {
                    height: 6vh;
                    font-size: 12pt;
                }

                .view-product-btn {
                    width: 15vw;
                }

                .add-product-btn {
                    width: 20vw;
                }

                .product-title-text {
                    font-size: 16pt;
                }

                .filter-header {
                    font-size: 20pt;
                }

                .accordion-body {
                    font-size: 16pt;
                }

                .form-range::-webkit-slider-thumb {
                    height: 25px;
                    width: 25px;
                }

                .form-range::-moz-range-thumb {
                    height: 25px;
                    width: 25px;
                }
            }

            @media only screen and (min-width: 500px) and (max-width: 854px) {
                .video {
                    width: 480px;
                    height: 360px;
                }
            }

            @media only screen and (max-width: 499px) {
                .video {
                    width: 192px;
                    height: 144px;
                }
            }

            @media only screen and (min-width: 768px) and (max-width: 992px) {
                .product-listings-container {
                    width: 98vw;
                }

                .product-title-text {
                    font-size: 16pt;
                }

                .product-img {
                    height: 25vh;
                }

                .category-selection-button {
                    width: 65vw;
                }

                .buttons-container {
                    width: 28vw;
                }

                .add-product-btn, .view-product-btn {
                    height: 6vh;
                }

                .view-product-btn {
                    width: 4.5vw;
                }

                .add-product-btn {
                    width: 9vw;
                }
            }

            @media only screen and (max-width: 576px) {
                #myCarousel {
                    height: 30rem;
                }

                .category-selection-button {
                    width: 70vw;
                }

                .buttons-container {
                    width: 90vw;
                }

                .add-product-btn, .view-product-btn {
                    height: 5vh;
                    font-size: 12pt;
                }

                .view-product-btn {
                    width: 12vw;
                }

                .add-product-btn {
                    width: 25vw;
                }

                .product-img {
                    height: 28vh;
                }

                .card-img-top {
                    max-width: 60vw;
                    max-height: 50vh;
                }
            }

            @media only screen and (max-height: 576px) and (orientation: landscape) {
                .form-range::-webkit-slider-thumb {
                    height: 25px;
                    width: 25px;
                }

                .form-range::-moz-range-thumb {
                    height: 25px;
                    width: 25px;
                }

                .category-selection-button {
                    width: 70vw;
                }
                
                .buttons-container {
                    width: 25vw;
                }

                .add-product-btn, .view-product-btn {
                    height: 10vh;
                    font-size: 12pt;
                }

                .view-product-btn {
                    width: 5vw;
                }

                .add-product-btn {
                    width: 10vw;
                }

                .card {
                    height: 75vh;
                }

                .product-img {
                    height: 35vh;
                }

                .card-img-top {
                    max-width: 35vw;
                    max-height: 40vh;
                }
            }

            @media only screen and (min-height: 576px) and (max-height: 768px) and (orientation: landscape) {
                .view-product-btn, .add-product-btn {
                    height: 6vh;
                }
                
                .view-product-btn {
                    width: 4vw;
                }

                .add-product-btn {
                    width: 10vw;
                }

                .category-selection-button {
                    width: 75vw;
                }
            }
        </style>
    </head>
    <body>
        <div class="container-fluid gap-1 align-items-center">

            <!-- Slide Banner -->
            <div class="row">
                <div id="myCarousel" class="carousel slide mb-6 pointer-event" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <% featuredItems.forEach((item, index) => { %>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>" aria-label="Slide <%= index + 1 %>"></button>
                        <% }); %>
                    </div>

                    <div class="carousel-inner">
                        <% featuredItems.forEach((item, index) => { %>
                            <%- include("templates/carouselBanner", { 
                                activeStatus: index === 0 ? 'active' : '', 
                                product_description: (item.item_detailed_description.length > 100) ? `${item.item_detailed_description.slice(0, 100)}...` : item.item_detailed_description, 
                                product_title: item.item_title, 
                                source: item.banner_image, // Assuming 'banner_image' is the field for background images of carousel
                                product_img: item.product_img_URL[0],
                                product_price: item.item_price,
                                product_link: item._id
                            }) %>
                        <% }); %>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <h1>Welcome to The Vintage Garage!!</h1>
                    <h2>Current Listings</h2>
                </div>
            </div>

            <div class="row"><br><br></div>

            <div class="row">

                <!-- Filters -->
                <div class="col-lg-3">
                    <div class="container">
                        <div class="col"> <!-- TODO: Use EJS Template -->
                            <% for (i = 0; i < filterHeaders.length; i++) { %>
                            <% if (filterHeaders[i].length < 1) continue; %>
                            <div class="col accordion w-100">
                                <div class="accordion-item">
                                    <span class="accordion-header"
                                        id="heading<%= filtersAnchor[i] %>">
                                        <button
                                            class="accordion-button bg-light"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#<%= filtersAnchor[i] %>"
                                            aria-expanded="true"
                                            aria-controls="<%= filtersAnchor[i] %>">
                                            <strong class="filter-header"><%= filterHeaders[i] %></strong>
                                            <!-- TODO: Variable -->
                                        </button>
                                    </span>
                                    <div id="<%= filtersAnchor[i] %>"
                                        class="accordion-collapse collapse show"
                                        aria-labelledby="heading<%= filtersAnchor[i] %>"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <!-- TODO: Session Cookies because based on the collection search, only show the existing categories or just use node again -->
                                            <!-- TODO: Variable-->
                                            <%- filterStuff[i] %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <br>
                            <div class="d-flex justify-content-center gap-3">
                                <form method="post"
                                    onsubmit="this.action = `/filter/price=${document.getElementById('selectedPrice').value}`;">
                                    <button type="submit"
                                        class="btn btn-primary">Confirm</button>
                                </form>
                                <form method="post"
                                    onsubmit="this.action = '/filter/clear';">
                                    <button type="submit"
                                        class="btn btn-danger">Clear</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 product-listings-container">
                    <div class="container-fluid">
                        <div class="row">
                            <% currentListings.forEach(function(item) { %>
                            <div class="col-md-4 landing-pad-bottom">
                                <div class="card shadow-sm">
                                    <div class="d-flex product-img align-items-center justify-content-center">
                                        <a href="/product-info/<%= item._id %>">
                                            <img class="bd-placeholder-img card-img-top justify-content-center" src="<%= item.product_img_URL[0] %>" alt="<%= item.item_title %>"/>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <span class="product-title-text">
                                            <%= (item.item_title.length > 35) ? `${item.item_title.slice(0, 35)}...` : item.item_title %>
                                        </span>
                                        <div class="d-flex justify-content-between align-items-end buttons-container">
                                            <div class="btn-group d-flex align-items-center">
                                                <a href="/product-info/<%= item._id %>"
                                                class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center view-product-btn">
                                                    View
                                                </a>
                                                
                                                <button type="button" class="btn btn-sm btn-outline-secondary add-product-btn" data-id="<%= item._id %>" onclick="addToCart('<%= item._id %>')" <%= cartItems.includes(item._id.toString()) ? 'disabled' : '' %>>Add to Cart</button>

                                                    <button class="favouriteButton btn" onclick="favoriteItem('<%= item._id %>')" id="favorite<%= item._id %>">
                                                        <% if (favorites.includes(item._id.toString())) {%>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                                            </svg>
                                                        <% } else {%>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                                            </svg>
                                                        <% } %>
                                                            <span><%=(item.item_rating) ? item.item_rating : 0%></span>
                                                    </button>
                                            </div>
                                            <strong class="text-body-primary">
                                                CAN $<%= item.item_price %>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row landing-pad-bottom">
                <div class="col d-flex justify-content-center">
                    <div class="pagination-btn"><form
                            action="/page=<%= previousPage %>"
                            method="post"><button class="no-border"
                                type="submit"><</button></form></div>
                    <% paginationIndex.forEach(function(index) { %>
                    <div class="pagination-btn"><form
                            action="/page=<%= index %>" method="post"><button
                                class="no-border" type="submit"><%= index
                                %></button></form></div>
                    <% }); %>
                    <div class="pagination-btn"><form
                            action="/page=<%= nextPage %>" method="post"><button
                                class="no-border"
                                type="submit">></button></form></div>
                </div>
            </div>

            <% if (featureVideo && featureVideo.url) { %>
            <div class="row landing-pad-bottom">
                <div class="col d-flex justify-content-center">
                    <video class="video" controls>
                        <source src="<%= featureVideo.url %>" type="video/mp4">
                        Your browser does not support the video tag :(
                    </video>
                </div>
            </div>
            <% } %>

        </div>
    </body>
    <%- include("footer") %>
    <script>
        function addToCart(itemId) {
            fetch('/cart/add-to-cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ itemId: itemId })
            }).then(response => response.json())
              .then(data => {
                  if (data.success) {
                      document.getElementById('cart-item-count').innerText = data.cartItemCount;
                      document.querySelector(`button[data-id="${itemId}"]`).disabled = true;
                  } else {
                      alert(data.message);
                  }
              }).catch(error => {
                  console.error('Error adding item to cart:', error);
              });
        }

        function favoriteItem(itemId)
        {
            fetch(`/favorite=${itemId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
                .then(data => {
                    const element = document.getElementById(`favorite${itemId}`);
                    if (data.status)
                    {

                        element.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
</svg>`;

                    }
                    else
                    {
                        element.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
</svg>`
                    }

                    element.innerHTML += ` <span>${data.currentItemCount}</span>`;
                }).catch(error => {
                    console.error(`Error adding item to cart: ${error}`);
            })
        }
    </script>
</html>
