<%- include("metadata") %>
<html lang="en">
    <%- include("searchNavBar") %>
    <head>
        <style>
            #myCarousel {
                background-color: #84A49A;
            }

            .no-border
            {
                border: none;
                background: none;
                padding-top: 50px;
            }

            .product-img {
                max-height: 25vh;
                overflow: hidden;
            }

            .card {
                height: 40vh;
            }

            .filter-header {
                font-size: 14pt;
            }

            .accordion-body {
                font-size: 12pt;
            }

            .landing-pad-bottom {
                padding-bottom: 3vh;
            }

            .video {
                width: 854px;
                height: 480px;
            }

            .pagination-btn {
                padding-left: 1vw;
                padding-right: 1vw;
            }

            @media only screen and (max-width: 767px) {
                .card {
                    height: 35vh;
                    width: 90vw;
                }

                .product-img {
                    max-height: 30vh;
                }

                .product-btn {
                    width: 20vw;
                    height: 7vh;
                    font-size: 12pt;
                }

                .filter-header {
                    font-size: 20pt;
                }

                .accordion-body {
                    font-size: 16pt;
                }

                .form-range::-webkit-slider-thumb {
                    height: 25px;
                    width: 25px;
                }

                .form-range::-moz-range-thumb {
                    height: 25px;
                    width: 25px;
                }
            }

            @media only screen and (max-width: 854px) {
                .video {
                    width: 480px;
                    height: 360px;
                }
            }

            @media only screen and (min-width: 768px) and (max-width: 992px) {
                .product-listings-container {
                    width: 98vw;
                }
            }
        </style>
    </head>
    <body>
        <div class="container-fluid gap-1 align-items-center">

            <!-- Slide Banner -->
            <div class="row">
                <div id="myCarousel" class="carousel slide mb-6 pointer-event" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <% featuredItems.forEach((item, index) => { %>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>" aria-label="Slide <%= index + 1 %>"></button>
                        <% }); %>
                    </div>

                    <div class="carousel-inner">
                        <% featuredItems.forEach((item, index) => { %>
                            <%- include("templates/carouselBanner", { 
                                activeStatus: index === 0 ? 'active' : '', 
                                product_description: item.item_detailed_description, 
                                product_title: item.item_title, 
                                source: item.banner_image, // Assuming 'banner_image' is the field for background images of carousel
                                product_img: item.product_img_URL[0], 
                                product_qty: item.item_quantity, 
                                product_price: item.item_price 
                            }) %>
                        <% }); %>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <h1>Welcome to The Vintage Garage!</h1>
                    <h2>Current Listings</h2>
                </div>
            </div>

            <div class="row"><br><br></div>

            <div class="row">

                <!-- Filters -->
                <div class="col-lg-3">
                    <div class="container">
                        <div class="col"> <!-- TODO: Use EJS Template -->
                            <% for (i = 0; i < filterHeaders.length; i++) { %>
                            <div class="col accordion w-100">
                                <div class="accordion-item">
                                    <span class="accordion-header"
                                        id="heading<%= filtersAnchor[i] %>">
                                        <button
                                            class="accordion-button bg-light"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#<%= filtersAnchor[i] %>"
                                            aria-expanded="true"
                                            aria-controls="<%= filtersAnchor[i] %>">
                                            <strong class="filter-header"><%= filterHeaders[i] %></strong>
                                            <!-- TODO: Variable -->
                                        </button>
                                    </span>
                                    <div id="<%= filtersAnchor[i] %>"
                                        class="accordion-collapse collapse show"
                                        aria-labelledby="heading<%= filtersAnchor[i] %>"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <!-- TODO: Session Cookies because based on the collection search, only show the existing categories or just use node again -->
                                            <!-- TODO: Variable-->
                                            <%- filterStuff[i] %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <br>
                            <div class="d-flex justify-content-center gap-3">
                                <form method="post"
                                    onsubmit="this.action = `/filter/price=${document.getElementById('selectedPrice').value}`;">
                                    <button type="submit"
                                        class="btn btn-primary">Confirm</button>
                                </form>
                                <form method="post"
                                    onsubmit="this.action = '/filter/clear';">
                                    <button type="submit"
                                        class="btn btn-danger">Clear</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 product-listings-container">
                    <div class="container-fluid">
                        <div class="row">
                            <% currentListings.forEach(function(item) { %>
                            <div class="col-md-4 landing-pad-bottom">
                                <div class="card shadow-sm">
                                    <div
                                        class="d-flex product-img align-items-center justify-content-center">
                                        <img
                                            class="bd-placeholder-img card-img-top"
                                            src="<%= item.product_img_URL[0] %>"
                                            alt="<%= item.item_title %>"
                                            style="border: solid; border-width: 2px; border-color: lightgray; max-width: 20vw;" />
                                    </div>
                                    <div class="card-body">
                                        <h3>
                                            <%= (item.item_title.length > 35) ? `${item.item_title.slice(0, 35)}...` : item.item_title %>
                                        </h3>
                                        <div
                                            class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="/product-info/<%= item._id %>"
                                                class="btn btn-sm btn-outline-secondary product-btn d-flex justify-content-center align-items-center">
                                                    View
                                                </a>
                                                <button type="button"
                                                    class="btn btn-sm btn-outline-secondary product-btn"
                                                    onclick="addToCart('<%= item._id %>')">Add
                                                    to Cart</button>
                                            </div>
                                            <strong class="text-body-primary">
                                                CAN <%= item.item_price %>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row landing-pad-bottom">
                <div class="col d-flex justify-content-center">
                    <div class="pagination-btn"><form
                            action="/page=<%= previousPage %>"
                            method="post"><button class="no-border"
                                type="submit"><</button></form></div>
                    <% paginationIndex.forEach(function(index) { %>
                    <div class="pagination-btn"><form
                            action="/page=<%= index %>" method="post"><button
                                class="no-border" type="submit"><%= index
                                %></button></form></div>
                    <% }); %>
                    <div class="pagination-btn"><form
                            action="/page=<%= nextPage %>" method="post"><button
                                class="no-border"
                                type="submit">></button></form></div>
                </div>
            </div>

            <% if (featureVideo && featureVideo.url) { %>
            <div class="row landing-pad-bottom">
                <div class="col d-flex justify-content-center">
                    <video class="video" controls>
                        <source src="<%= featureVideo.url %>" type="video/mp4">
                        Your browser does not support the video tag :(
                    </video>
                </div>
            </div>
            <% } %>

        </div>
    </body>
    <%- include("footer") %>
    <script>
        function addToCart(itemId) {
            fetch('/cart/add-to-cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ itemId: itemId })
            }).then(response => response.json())
              .then(data => {
                  if (data.success) {
                      document.getElementById('cart-item-count').innerText = data.cartItemCount;
                  } else {
                      alert(data.message);
                  }
              }).catch(error => {
                  console.error('Error adding item to cart:', error);
              });
        }
    </script>
</html>
