<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Listings</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            padding-bottom: 3vh;
        }

        .card {
            min-height: 50vh;
        }

        .product-img {
            width: 25vw;
            height: 30vh;
            overflow: hidden;
            border: solid;
            border-width: 2px;
            border-color: lightgray;
        }

        div.pagination-btn {
            margin-left: 0.75vw;
            margin-right: 0.75vw;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }

        a.pagination-btn {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 14pt;
            color: rgb(100, 100, 100);
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <span class="admin-header">Sold Listings</span>
        <br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% listings.forEach(function(listing) { %>
                <div class="col">
                    <div class="card shadow-sm">
                        <% if(listing.product_img_URL && listing.product_img_URL.length > 0) { %>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="product-img d-flex align-items-center">
                                    <img src="<%= listing.product_img_URL[0] %>" class="bd-placeholder-img card-img-top" alt="..." style="border: solid; border-width: 2px; border-color: lightgray; max-width: 25vw;">
                                </div>
                            </div>
                        <% } else { %>
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"/>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                        <% } %>
                        <div class="card-body">
                            <p class="card-text"><%= (listing.item_title.length > 68) ? `${listing.item_title.slice(0, 68)}...` : listing.item_title %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form action="/admin/relist/<%= listing._id %>" method="post">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Re-List</button>
                                    </form>
                                </div>
                                <small class="text-muted">Sold on <%= listing.soldDate %> to <%= listing.soldTo %></small>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="row landing-pad-bottom">
            <div class="col d-flex justify-content-center">
                <div class="pagination-btn">
                    <a href="#" onclick="loadPostMethodContent('admin/sold_listingspage=<%= previousPage %>')" class="pagination-btn"> < </a>
                </div>
                <% paginationIndex.forEach(function(index) { %>
                    <div class="pagination-btn">
                        <a href="#" onclick="loadPostMethodContent('admin/sold_listingspage=<%= index %>')" class="pagination-btn"><%= index %></a>
                    </div>
                <% }); %>
                <div class="pagination-btn">
                    <a href="#" onclick="loadPostMethodContent('admin/sold_listingspage=<%= nextPage %>')" class="pagination-btn"> > </a>
                </div>
            </div>
        </div>
        <% if (listings.length === 0) { %>
            <p>No previous listings found.</p>
        <% } %>
    </div>
</body>
</html>
