<%- include("metadata") %>
<head>
    <style>
        .first-img {
            max-width: 30vw;
            max-height: 40vh;
        }

        .first-img-container {
            max-width: 30vw;
            max-height: 40vh;
            overflow: hidden;
        }

        .extra-img {
            max-width: 16vw;
            max-height: 20vh;
        }

        .extra-img-container {
            max-width: 16vw;
            max-height: 20vh;
            overflow: hidden;
            padding-left: 1vw;
            padding-right: 1vw;
        }

        .product-video {
            width: 874px;
            height: 480px;
        }

        .header-text {
            font-size: 24pt;
            font-weight: bold;
        }

        .subtext {
            font-size: 10pt;
        }

        .content-text {
            font-size: 14pt;
        }

        @media (max-width: 874px) {
            .product-video {
                width: 480px;
                height: 360px;
            }
        }
    </style>
</head>
<%- include("searchNavBar") %>
<div class="container mt-5" style="padding-bottom: 3vh;">
    <% if(item.product_img_URL && item.product_img_URL.length > 0) { %>
        <% item.product_img_URL.forEach(function(url, index) { %>
            <% if (index == 0) { %>
                <div class="row">
                    <div class="col-4 first-img-container d-flex align-items-center justify-content-center">
                        <img src="<%= url %>" alt="Product Image 1" class="first-img">
                    </div>
                    <div class="col-8">
                        <p class="header-text"><%= item.item_title %></p>
                        <p class="subtext">Price: $<%= item.item_price.toFixed(2) %></p>
                        <p class="subtext">Shipping Cost: $<%= item.item_estimatedShippingCost.toFixed(2) %></p>
                        <p class="subtext">QTY: <%= item.item_quantity %></p>
                        <p class="content-text">Description: <%= item.item_detailed_description %></p>
                    </div>
                </div>
                <div class="row"><br></div>
            <% } %>
        <% }); %>
        <div class="row">
            <% item.product_img_URL.forEach(function(url, index) { %>
                <% if (index != 0) { %>
                    <div class="col-2 extra-img-container d-flex align-items-center justify-content-center">
                        <img src="<%= url %>" alt="Product Image <%= index + 1 %>" class="extra-img">
                    </div>
                <% } %>
            <% }); %>
        </div>
    <% } %>
    <% if(item.product_video_URL && item.product_video_URL.length > 0) { %>
        <br>
        <div class="row text-center">
            <p class="header-text">Product Video:</p>
            <div class="col d-flex justify-content-center">
                <video class="product-video" controls>
                    <source src="<%= item.product_video_URL[0] %>" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    <% } %>
    <br>
    <button type="button" class="btn btn-primary">Add to cart</button>
</div>
<%- include("footer") %>