<%- include("metadata") %>

<%- include("searchNavBar") %>
<div class="container mt-5">
    <% if(item.product_img_URL && item.product_img_URL.length > 0) { %>
        <% item.product_img_URL.forEach(function(url, index) { %>
            <div class="pic m-2">
                <img src="<%= url %>" alt="Product Image <%= index + 1 %>" height="100px" width="150px">
            </div>
        <% }); %>
    <% } %>
    <% if(item.product_video_URL && item.product_video_URL.length > 0) { %>
        <video width="320" height="240" controls>
            <source src="<%= item.product_video_URL[0] %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    <% } %>
    <h2><%= item.item_title %></h2>
    <h6>Price: $<%= item.item_price.toFixed(2) %></h6>
    <h6>Shipping Cost: $<%= item.item_estimatedShippingCost.toFixed(2) %></h6>
    <h6>QTY: <%= item.item_quantity %></h6>
    <h4>Description: <%= item.item_detailed_description %></h4>
    
    <br>
    <button type="button" class="btn btn-primary">Add to cart</button>
</div>