<head>
    <style>
        .text-main {
            font-size: 18pt;
            font-weight: 600;
            color: black;
        }

        .product-title {
            font-size: 32pt;
            font-weight: 700;
            letter-spacing: 2pt;
        }

        .btn-lg {
            font-size: 18pt;
        }

        .banner-item {
            padding: 5rem;
            height: 40rem;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 2%;
        }

        .banner-column {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            height: 31rem;
        }

        .featured-product-img {
            width: 35vw;
            height: auto;
        }

        .img-container {
            max-width: 40vw;
            max-height: 70vh;
            overflow: hidden;
            border-radius: 2%;
        }

        @media (max-width: 576px) {
            .text-main {
                font-size: 20pt;
            }

            .btn-lg {
                font-size: 20pt;
            }
        }
    </style>
</head>
<div class="carousel-item <%= activeStatus %>"
    style="width: 100%; height: 40rem; background-image: url('<%= source %>'); background-repeat: no-repeat; background-size: cover">

    <div class="container banner-item">
        <div class="row">
            <div
                class="d-flex col-6 align-items-center justify-content-center banner-column">
                <div
                    class="img-container d-flex align-items-center justify-content-center">
                    <img src="<%= product_img %>" alt="product image"
                        class="featured-product-img">
                </div>
            </div>
            <div class="col-6 banner-column">
                <p class="text-main">
                    <span class="product-title"><%= product_title
                        %></span><br><br>
                    $<%= product_price %><br>
                    QTY: <%= product_qty %><br>
                    <%= product_description %>
                </p>
            </div>
        </div>
    </div>
</div>